{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
	<div class="row" align="center">
    <a href="#.html" class="btn btn-primary" role="button">Ver Órdenes de Fabricación</a>
    <a href="{% url 'vista_administrador_nueva_of' %}" class="btn btn-primary" role="button">Nueva Orden de Fabricación</a>
  </div>

  <div class="thumbnail"  style="height:544px; margin:10px" align="center">
    <div style="height:100%;overflow-y: scroll;">
      <h2>Ver Órdenes de Fabricación</h2>
      <table class="table table-hover table-bordered " style="width:100%;" >           
        <thead>
          <tr>
            <th>N° OF</th>
            <th>Material</th>
            <th>Cantidad<br>(botellas)</th>
            <th>Fecha emisión</th>
            <th>Fecha inicio</th>
            <th>Fecha término</th>
            <th>Estado OF</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for of in ofs %} <!-- maquinaria es le nombre del iterador, m el de la variable definida en amarillo en el views -->

          <tr>
            <td>{{ of.id }}</td>
            <td>{{of.material}}</td> 
            <td>{{of.ofCant}}</td>           
            <td>{{of.ofFechaIngreso}}</td>
            <td>{{of.ofFechaInicio}}</td>
            <td>{{of.ofFechaTermino}}</td>
            <td>{{of.estadoOF}}</td>
            <td class="col-sm-3">
              <a class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Editar OF" href="{% url 'vista_administrador_editar_of' of.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="btn btn-danger" onclick="return confirm('Se elimininará esta OF')" data-toggle="tooltip" data-placement="bottom" title="Eliminar OF" href="{% url 'vista_administrador_eliminar_of' of.id %}"><span class="glyphicon glyphicon-trash"></span></a>
              {% if of.estadoOF == 'Pendiente' %}
              <a class="btn btn-xs btn-info" onclick="return confirm('Se generarán las OTs')" data-toggle="tooltip" data-placement="bottom" title="Generar OT" href="{% url 'vista_administrador_generar_ot' of.id %}">Generar<br>OT</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>      
    </div>
  </div>

{%endblock%}


{%block JS%}
  
{%endblock%}