{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
	<div class="row" align="center">

    <a href="#.html" class="btn btn-primary" role="button">Ver Materiales</a>
    <a href="{% url 'vista_administrador_ingresar_material' %}" class="btn btn-primary" role="button">Ingresar Material</a>    
    <a href="{% url 'vista_administrador_nuevo_material' %}" class="btn btn-primary" role="button">Nuevo Material</a>
  </div>

  <div class="thumbnail"  style="height:544px; margin:10px">
    <div style="height:100%;overflow-y: scroll;">
    <h2 align="center">Ver Stock</h2>
     <table class="table table-hover table-bordered " style="width:100%;" >           
        <thead>
          <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Tipo de Material</th>
            <th>Cant. Ciclo <br>Producción</th>
            <th>Unidad de Medida</th>
            <th>Composición</th>
            <th>Puesto de Trabajo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for material in materiales %} <!-- maquinaria es le nombre del iterador, m el de la variable definida en amarillo en el views -->
          <tr>
            <td>{{ forloop.counter }}{# starting index 1 #}</td>
            <td>{{material.materialNombre}}</td>
            <td>{{material.materialTipo}}</td>
            <td>{{material.materialStock}}</td>
            <td>{{material.materialUnidadMedida}}</td>
            <td>{% for x in material.composiciones %}
                {{x.material2}}[{{x.composicionCantidad}} {{x.material2.materialUnidadMedida}}]<br>
                {% endfor %}
            </td>
            <td>
              {% if material.pt != None %}
                {{material.pt}}
              {% endif %}
            </td>
            <td class="col-sm-2">
            <a class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Editar material" href="{% url 'vista_administrador_editar_material' material.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-danger" onclick="return confirm('Se eliminará este material')" data-toggle="tooltip" data-placement="bottom" title="Eliminar material" href="{% url 'vista_administrador_eliminar_material' material.id %}"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

  </div>

{%endblock%}


{%block JS%}
  
{%endblock%}