{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
   <div class="row" align="center">
      <a href="#.html" class="btn btn-primary" role="button">Ver Stock</a>
      <a href="{% url 'vista_administrador_nuevo_producto' %}" class="btn btn-primary" role="button">Nuevo Producto</a>
    </div>

  <div class="thumbnail"  style="height:544px; margin:10px">
    <div style="height:100%;overflow-y: scroll;">
    <h2 align="center">Ver Stock</h2>
     <table class="table table-hover table-bordered " style="width:100%;" >           
        <thead>
          <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Cantidad<br>por ciclo</th>
            <th>Stock Mínimo</th>
            <th>Unidad de Medida</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for material in materiales %} <!-- maquinaria es le nombre del iterador, m el de la variable definida en amarillo en el views -->
          <tr>
            <td>{{ forloop.counter }}{# starting index 1 #}</td>
            <td>{{material.materialNombre}}</td>
            <td>{{material.materialStock}}</td>
            <td>{{material.materialStockMinimo}}</td>
            <td>{{material.materialUnidadMedida}}</td>
            <td class="col-sm-2">
              <a class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Editar producto" href="{% url 'vista_administrador_editar_material' material.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="btn btn-danger" onclick="return confirm('Se elimininará esta producto')" data-toggle="tooltip" data-placement="bottom" title="Eliminar producto" href="{% url 'vista_administrador_eliminar_material' material.id %}"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

  </div>

{%endblock%}


{%block JS%}
  
{%endblock%}