{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
  <div class="thumbnail"  style="height:544px; margin:10px" align="center">
    <div style="height:100%;overflow-y: scroll;">
      <h2>Notificaciones</h2>
      <table class="table table-hover table-bordered " style="width:100%;" >           
        <thead>
          <tr>
            <th>N°</th>
            <th>Descripcion</th>
            <th>Orden de compra</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for n in notificaciones %}
          <tr>
            <td>{{ forloop.counter }}{# starting index 1 #}</td>
            <td>{{n}}</td>
            <td>{{n}}</td>
            <td class="col-sm-4">
              <a class="btn btn-danger" onclick="return confirm('Se elimininará el puesto de trabajo.')" data-toggle="tooltip" data-placement="bottom" title="Eliminar PT" href="{% url 'vista_administrador_eliminar_pt' n.id %}"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>      
    </div>
  </div>

{%endblock%}


{%block JS%}
  
{%endblock%}