{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
  <div class="row" align="center">
    <a href="#.html" class="btn btn-primary" role="button">Ver Operarios</a>
    <a href="{% url 'vista_administrador_editar_operario' %}" class="btn btn-primary" role="button">Editar Operario</a>
    <a href="{% url 'vista_administrador_nuevo_operario' %}" class="btn btn-primary" role="button">Nuevo Operario</a>
  </div>

  <div class="thumbnail"  style="height:544px; margin:10px" >
    <div style="height:100%;overflow-y: scroll;">
    <h2 align="center">Ver Operarios</h2>
    <table class="table table-hover table-bordered " style="width:100%;" >           
          <thead>
            <tr>
              <th>N°</th>
              <th>Rut</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Telefono</th>
              <th>Correo</th>
            </tr>
          </thead>
        <tbody>
          {% for operario in operarios %} <!-- maquinaria es le nombre del iterador, m el de la variable definida en amarillo en el views -->
          <tr>
            <td>{{operario.id}}</td>
            <td>{{operario.usuarioNombre}}</td>
            <td>{{operario.usuarioApellido}}</td>
            <td>{{operario.usuarioTelefono}}</td>
            <td>{{operario.usuarioCorreo}}</td>
            <td><a class="btn btn-default" href="{% url 'vista_administrador_editar_oc' %}">Editar</a></td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
    </div>
  </div>

{%endblock%}


{%block JS%}
  
{%endblock%}