{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
	<div class="row" align="center">
    <a href="#.html" class="btn btn-primary" role="button">Ver Órdenes de Fabricación</a>
    <a href="{% url 'vista_administrador_editar_of' %}" class="btn btn-primary" role="button">Editar Orden de Fabricación</a>
    <a href="{% url 'vista_administrador_nueva_of' %}" class="btn btn-primary" role="button">Nueva Orden de Fabricación</a>
  </div>

  <div class="thumbnail"  style="height:430px; margin:10px" align="center">
    <div style="height:100%;overflow-y: scroll;">
      <h2>Ver Órdenes de Fabricación</h2>
      <table class="table table-hover table-bordered " style="width:100%;" >           
        <thead>
          <tr>
            <th>N° OF</th>
            <th>Producto</th>
            <th>Cantidad<br>(botellas)</th>
            <th>Fecha emisión</th>
            <th>Fecha inicio</th>
            <th>Fecha término</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>01</td>
            <td>Producto3</td>
            <td>120</td>
            <td>11/11/1111</td>
            <td>11/11/1111</td>
            <td>11/11/1111</td>
            <td>Procesada</td>
          </tr>
          <tr>
            <td>02</td>
            <td>Producto2</td>
            <td>200</td>
            <td>11/11/1111</td>
            <td>11/11/1111</td>
            <td>11/11/1111</td>            
            <td>En Proceso</td>
          </tr>
          <tr>
            <td>03</td>
            <td>Producto2</td>
            <td>120</td>
            <td>11/11/1111</td>
            <td>11/11/1111</td>
            <td>11/11/1111</td>            
            <td>Por procesar</td>
          </tr>
        </tbody>
      </table>      
    </div>
  </div>

{%endblock%}


{%block JS%}
  
{%endblock%}