{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
<div class="row" align="center">
    <a href="{% url 'vista_administrador_ver_lotes' %}" class="btn btn-primary" role="button">Ver Lote</a>
    <a href="{% url 'vista_administrador_nuevo_lote' %}" class="btn btn-primary" role="button">Nuevo Lote</a>
</div>

<div class="thumbnail"  style="height:544px; margin:10px" >
    <h2 align="center">Editar Lote</h2>
    <form class="form-horizontal" role="form" method="POST" action="{% url 'vista_administrador_editar_lote' id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="nombre" class="col-sm-4 control-label">Fecha de Elaboración</label>    
            <div class="col-sm-8">
                {{LoteForm.loteFechaElaboracion}}      
            </div>
        </div>
        <div class="form-group">
            <label for="nombre" class="col-sm-4 control-label">Fecha de Vencimiento</label>
            <div class="col-sm-8">
                {{LoteForm.loteFechaVencimiento}}      
            </div>
        </div>
        <div class="form-group">
            <label for="nombre" class="col-sm-4 control-label" id="UnidadMedida">Stock</label>
            <div class="col-sm-8">
                {{LoteForm.loteStock}}
            </div> 
        </div>
        <div class="form-group">
            <label for="nombre" class="col-sm-4 control-label" id="UnidadMedida">Stock Actual</label>
            <div class="col-sm-8">
                {{LoteForm.loteStockReal}}
            </div> 
        </div>
        <div class="form-group">
            <label for="nombre" class="col-sm-4 control-label" id="TipoMaterial">Material</label>
            <div class="col-sm-8">
                {{LoteForm.material}}
            </div> 
        </div>
        <div class="text-center">
            <a class="btn btn-default" onclick="$('form').submit()" type="submit">Guardar</a>
        </div>
    </form>
</div>
{%endblock%}


{%block JS%}
  
{%endblock%}