{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
	<div class="row" align="center">
    <a href="#.html" class="btn btn-primary" role="button">Ver Órdenes de Compra</a>
    <a href="{% url 'vista_administrador_nueva_oc' %}" class="btn btn-primary" role="button">Nueva Orden de Compra</a>
  </div>

  <div class="thumbnail"  style="height:544px; margin:10px" align="center">
    <div style="height:100%;overflow-y: scroll;">
      <h2>Ver Órdenes de Compra</h2>
      <table class="table table-hover table-bordered " style="width:100%;" >           
        <thead>
          <tr>
            <th>N° OC</th>
            <th>Fecha emisión</th>            
            <th>Proveedor</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for oc in ocs %} <!-- maquinaria es le nombre del iterador, m el de la variable definida en amarillo en el views -->
          <tr>
            <td>{{ forloop.counter }}{# starting index 1 #}</td>
            <td>{{oc.ordenCompraFechaEmision}}</td>
            <td>{{oc.proveedor}}</td>
            <td class="col-sm-2">
              <a class="btn btn-warning" href="{% url 'vista_administrador_editar_oc' oc.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="btn btn-danger" onclick="return confirm('Se elimininará esta orden de compra.')" data-toggle="tooltip" data-placement="bottom" title="Eliminar OC" href="{% url 'vista_administrador_eliminar_oc' oc.id %}"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>      
    </div>
  </div>


{%endblock%}


{%block JS%}
  
{%endblock%}