{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
  <div class="row" align="center">
    <a href="{% url 'vista_administrador_ver_maquinarias' %}" class="btn btn-primary" role="button">Ver Maquinarias</a>
    <a href="#.html" class="btn btn-primary" role="button">Editar Maquinaria</a>
    <a href="{% url 'vista_administrador_nueva_maquinaria' %}" class="btn btn-primary" role="button">Nueva Maquinaria</a>
  </div>

  <div class="thumbnail"  style="height:430px; margin:10px" >
    <h2 align="center">Editar Maquinaria</h2>
    <div style="margin:10px">
      <select class="form-control">
        <option>Maquinaria1</option>
        <option>Maquinaria2</option>
      </select>
    </div>
    <div class="row" align="center">
      <a href="#.html" class="btn btn-primary" role="button">Buscar</a>
    </div>
  </div>

{%endblock%}


{%block JS%}
  
{%endblock%}