{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
	<div class="row" align="center">
    <a href="{% url 'vista_administrador_ver_of' %}" class="btn btn-primary" role="button">Ver Órdenes de Fabricación</a>
    <a href="{% url 'vista_administrador_editar_of' %}" class="btn btn-primary" role="button">Editar Orden de Fabricación</a>
    <a href="#.html" class="btn btn-primary" role="button">Nueva Orden de Fabricación</a>
  </div>

  <div class="thumbnail"  style="height:430px; margin:10px">
    <div style="height:100%;overflow-y: scroll;">
      <h2 align="center">Nueva Orden de Fabricación</h2>
      <form role="form" style="margin:20px;">
        <div class="col-md-6">
        <div class="form-group">
          <label for="ejemplo_nombre_material">N° SC</label>
          <input type="text" class="form-control" id="ejemplo_nombre_material" required="required" placeholder="Por default">
        </div>
        </div>
        <div class="col-md-6">
        <div class="form-group">
          <label for="ejemplo_nombre_material">Fecha</label>
          <input type="date" class="form-control" id="ejemplo_nombre_material" required="required" placeholder="Fecha de emisión, por default">
        </div>
        </div>
        <form role="form" style="margin:20px;">        
          <h3 align="center">Productos</h3>
          <div class="form-group">
            <div class="col-md-3">
              <p>Producto</p>
              <select multiple class="form-control">
                <option>Producto1</option>
                <option>Producto2</option>
                <option>Producto3</option>
                <option>Producto4</option>
              </select>
            </div>
            <div class="col-md-1">
            <br>
              <input class="form-control" id="cantidad" type="number" min="0" value="Cantidad de Material" placeholder="Cantidad de Material" required="required">
            <br>
            <button>></button>
            <br>
            <button><</button>
            </div>
            <div class="col-md-3">
              <p>Producto</p>
              <select multiple class="form-control">
              </select>
            </div>

          </div>
          <div class="form-group">
            <p class="text-center">
              <button type="submit" class="btn btn-default">Asignar</button>
            </p>
          </div>
        </form>
      </form>
        <div class="row" align="center">
          <p class="text-center">
          <button type="submit" class="btn btn-default">Guardar</button>
          </p>
        </div>
    </div>
  </div>

{%endblock%}


{%block JS%}
  
{%endblock%}