{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
	        
          <div class="thumbnail"  style="height:544px;" align="center">
            <h2>Bienvenido {{NOMBRE_USUARIO}}</h2>
            <div class="item" align="center" style="margin:5px">
                <img src="/static/img/fondo4.jpg" class="img-responsive" width="65%" style="margin:20px">
            </div>            
            <p>Bienvenido al menú de administrador, aquí podrá realizar todas las gestiones de sus ventas, compras y producción de productos.</p>
          </div>


{%endblock%}


{%block JS%}
  
{%endblock%}