{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
	<div class="row" align="center">
    <a href="{% url 'vista_administrador_ver_ot' %}" class="btn btn-primary" role="button">Ver Órdenes de Trabajo</a>
  </div>

  <div class="thumbnail"  style="height:544px; margin:10px" >
    <h2 align="center">Actualizar Orden de Trabajo</h2>
    <form class="form-horizontal" role="form" method="POST" action="{% url 'vista_administrador_editar_ot' id %}">
    {% csrf_token %}
        <div class="form-group">
          <label for="ejemplo_nombre_material" class="col-sm-4 control-label">Estado</label>
          <div class="col-sm-8">
          {{OTForm.otFinalizacion}}
          </div>
        </div>
        <div class="form-group">
          <label for="ejemplo_tipo_material" class="col-sm-4 control-label">Fecha Inicio</label>
          <div class="col-sm-8">
          {{OTForm.otFechaInicio}}
          </div>
        </div>
        <div class="form-group">
          <label for="ejemplo_unidad-medida_material" class="col-sm-4 control-label">Fecha Término</label>
          <div class="col-sm-8">
          {{OTForm.otFechaTermino}}
          </div>
        </div>
        <div class="form-group">
          <label for="ejemplo_unidad-medida_material" class="col-sm-4 control-label">Cantidad Acumulada</label>
          <div class="col-sm-8">
          {{OTForm.otCantidadAcum}}
          </div>
        </div>
      <p class="text-center">
        <button type="submit" class="btn btn-default" class="col-sm-4 control-label">Guardar</button>
        <a href="{% url 'vista_administrador_ver_ot' %}" class="btn btn-default">Cancelar</a>
      </p>
    </form>
  </div>

{%endblock%}


{%block JS%}
  
{%endblock%}