{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
	<div class="row" align="center">
    <a href="#.html" class="btn btn-primary" role="button">Ver Proveedores</a>
    
    <a href="{% url 'vista_administrador_nuevo_proveedor' %}" class="btn btn-primary" role="button">Nuevo Proveedor</a>
  </div>

  <div class="thumbnail"  style="height:430px; margin:10px" align="center">
    <div style="height:100%;overflow-y: scroll;">
      <h2>Ver Proveedores</h2>
      <table class="table table-hover table-bordered " style="width:100%;" >           
        <thead>
          <tr>
            <th>N°</th>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Correo</th>
          </tr>
        </thead>
        <tbody>
          {% for proveedor in proveedores %} <!-- maquinaria es le nombre del iterador, m el de la variable definida en amarillo en el views -->
          <tr>
            <td>{{proveedor.id}}</td>
            <td>{{proveedor.proveedorRut}}</td>
            <td>{{proveedor.proveedorNombre}}</td>
            <td>{{proveedor.proveedorDireccion}}</td>
            <td>{{proveedor.proveedorTelefono}}</td>
            <td>{{proveedor.proveedorCorreo}}</td>
            <td><a class="btn btn-default" href="{% url 'vista_administrador_editar_proveedor' proveedor.id %}">Editar</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>      
    </div>
  </div>

{%endblock%}


{%block JS%}
  
{%endblock%}