{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
	<div class="row" align="center">
    <a href="{% url 'vista_administrador_ver_operarios' %}" class="btn btn-primary" role="button">Ver Operarios</a>
    <a href="{% url 'vista_administrador_editar_operario' %}" class="btn btn-primary" role="button">Editar Operario</a>
    <a href="#.html" class="btn btn-primary" role="button">Nuevo Operario</a>
  </div>

<div class="thumbnail"  style="height:544px; margin:10px" >
      <h2 align="center">Nuevo Operario</h2>
      <form class="form-horizontal" role="form" method="POST" action="{% url 'vista_administrador_nuevo_cliente' %}">
      {% csrf_token %}
          <div class="form-group">
            <label for="nombre" class="col-sm-4 control-label">Nombre</label>
            <div class="col-sm-8">
              {{UsuarioForm.usuarioNombre}}
            </div>
          </div>
          <div class="form-group">
            <label for="nombre" class="col-sm-4 control-label">Apellido</label>
            <div class="col-sm-8">
              {{UsuarioForm.usuarioApellido}}
            </div>
          </div>
          <div class="form-group">
            <label for="nombre" class="col-sm-4 control-label">Fecha de Nacimiento</label>
            <div class="col-sm-8">
              {{UsuarioForm.usuarioFechaNacimiento}}
            </div>
          </div>
          <div class="form-group">
            <label for="nombre" class="col-sm-4 control-label">Telefono</label>
            <div class="col-sm-8">
              {{UsuarioForm.usuarioTelefono}}
            </div>
          </div>
          <div class="form-group">
            <label for="nombre" class="col-sm-4 control-label">Correo</label>
            <div class="col-sm-8">
              {{UsuarioForm.usuarioCorreo}}
            </div>
          </div>
          <div class="form-group">
            <label for="nombre" class="col-sm-4 control-label">Clave</label>
            <div class="col-sm-8">
              {{UsuarioForm.usuarioClave}}
            </div>
          </div>
          <div class="form-group">
            <label for="nombre" class="col-sm-4 control-label">Habilitador?</label>
            <div class="col-sm-8">
              {{UsuarioForm.usuarioHabilitador}}
            </div>
          </div>
          <div class="form-group">
            <label for="nombre" class="col-sm-4 control-label">Rol?</label>
            <div class="col-sm-8">
              {{UsuarioForm.usuarioRol}}
            </div>
          </div>
        <p class="text-center">
          <button type="submit" class="btn btn-default">Guardar</button>
        </p>
      </form>  
    </div> 

{%endblock%}


{%block JS%}
  
{%endblock%}