{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
	<div class="row" align="center">
      <a href="#.html" class="btn btn-primary" role="button">Ver Clientes</a>
      <a href="{% url 'vista_administrador_editar_cliente' %}" class="btn btn-primary" role="button">Editar Cliente</a>
      <a href="{% url 'vista_administrador_nuevo_cliente' %}" class="btn btn-primary" role="button">Nuevo Cliente</a>
    </div>

    <div class="thumbnail"  style="height:544px; margin:10px" align="center">
      <div style="height:100%;overflow-y: scroll;">
        <h2>Ver Clientes</h2>
        <table class="table table-hover table-bordered " style="width:100%;" >           
          <thead>
            <tr>
              <th>N°</th>
              <th>Rut</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Telefono</th>
              <th>Correo</th>
            </tr>
          </thead>
        <tbody>
          {% for cliente in clientes %} <!-- maquinaria es le nombre del iterador, m el de la variable definida en amarillo en el views -->
          <tr>
            <td>{{cliente.id}}</td>
            <td>{{cliente.usuarioNombre}}</td>
            <td>{{cliente.usuarioApellido}}</td>
            <td>{{cliente.usuarioTelefono}}</td>
            <td>{{cliente.usuarioCorreo}}</td>
            <td><a class="btn btn-default" href="{% url 'vista_administrador_editar_oc' %}">Editar</a></td>
          </tr>
          {% endfor %}
        </tbody>
        </table>      
      </div>
    </div>


{%endblock%}


{%block JS%}
  
{%endblock%}