{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
	<div class="row" align="center">
    <a href="#" class="btn btn-primary" role="button">Ver Maquinarias</a>
    <a href="{% url 'vista_administrador_nueva_maquinaria' %}" class="btn btn-primary" role="button">Nueva Maquinaria</a>
  </div>

  <div class="thumbnail"  style="height:544px; margin:10px" align="center">
    <div style="height:100%;overflow-y: scroll;">
      <h2>Ver Maquinaria</h2>
      <table class="table table-hover table-bordered " style="width:100%;" >           
        <thead>
          <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Ubicación</th>
            <th>Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for maquinaria in m %} <!-- maquinaria es le nombre del iterador, m el de la variable definida en amarillo en el views -->
          <tr>
            <td>{{maquinaria.id}}</td>
            <td>{{maquinaria.maqNombre}}</td>
            <td>{{maquinaria.pt}}</td>
            <td>{{maquinaria.maqEstado}}</td>
            <td>
              <a class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Editar maquinaria" href="{% url 'vista_administrador_editar_maquinaria' maquinaria.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="btn btn-danger" onclick="return confirm('Se elimininará esta maquinaria')" data-toggle="tooltip" data-placement="bottom" title="Eliminar maquinaria" href="{% url 'vista_administrador_eliminar_maquinaria' maquinaria.id %}"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>      
    </div>
  </div>

{%endblock%}


{%block JS%}
  
{%endblock%}