{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
   <div class="row" align="center">
      <a href="#.html" class="btn btn-primary" role="button">Ver Stock</a>
      <a href="{% url 'vista_administrador_editar_producto' %}" class="btn btn-primary" role="button">Editar Producto</a>
      <a href="{% url 'vista_administrador_nuevo_producto' %}" class="btn btn-primary" role="button">Nuevo Producto</a>
    </div>

    <div class="thumbnail"  style="height:544px; margin:10px" align="center">
      <div style="height:100%;overflow-y: scroll;">
        <h2>Ver Stock</h2>
        <table class="table table-hover table-bordered " style="width:100%;" >           
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Stock</th>
              <th>Stock Min</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Producto1</td>
              <td>305</td>
              <td>200</td>
            </tr>
            <tr>
              <td>Producto2</td>
              <td>200</td>
              <td>200</td>
            </tr>
            <tr>
              <td>Producto3</td>
              <td>120</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Producto4</td>
              <td>305</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Producto5</td>
              <td>207</td>
              <td>200</td>
            </tr>

          </tbody>
        </table>      
      </div>
    </div>

{%endblock%}


{%block JS%}
  
{%endblock%}