{%extends "Sudakaweb/base.html"%}

{%block titulo%}
Sudakaweb
{%endblock%}

{%block contenido%}
<div class="row" align="center">
	<a href="{% url 'vista_administrador_ver_materiales' %}" class="btn btn-primary" role="button">Ver Stock</a>
	<a href="{% url 'vista_administrador_ingresar_material' %}" class="btn btn-primary" role="button">Ingresar Material</a>    
	<a href="#.html" class="btn btn-primary" role="button">Nuevo Material</a>
</div>

<div class="thumbnail"  style="height:544px; margin:10px">
	<div style="height:100%;overflow-y: scroll; overflow-x: hidden">
		<h2 align="center">Nuevo Material</h2>
		<form class="form-horizontal" role="form" method="POST" action="{% url 'vista_administrador_nuevo_material' %}">
			{% csrf_token %}
			<div class="form-group">
				<label for="nombre" class="col-sm-4 control-label">Nombre Material</label>    
				<div class="col-sm-8">
					{{MaterialForm.materialNombre}}      
				</div>
			</div>
			<div class="form-group">
				<label for="nombre" class="col-sm-4 control-label">Stock</label>
				<div class="col-sm-8">
					{{MaterialForm.materialStock}}      
				</div>
			</div>
			<div class="form-group">
				<label for="nombre" class="col-sm-4 control-label">Stock Minimo</label>
				<div class="col-sm-8">
					{{MaterialForm.materialStockMinimo}}      
				</div>
			</div>
			<div class="form-group">
				<label for="nombre" class="col-sm-4 control-label" id="UnidadMedida">Unidad de Medida</label>
				<div class="col-sm-8">
					{{MaterialForm.materialUnidadMedida}}
				</div> 
			</div>
			<div class="form-group">
				<label for="nombre" class="col-sm-4 control-label" id="TipoMaterial">Tipo de Material</label>
				<div class="col-sm-8">
					{{MaterialForm.materialTipo}}
				</div> 
			</div>
			<div class="form-group">
				<label for="nombre" class="col-sm-4 control-label">Subtipo de Material</label>    
				<div class="col-sm-8">
					{{MaterialForm.materialSubTipo}}      
				</div>
			</div>
			<div class="form-group">
				<label for="nombre" class="col-sm-4 control-label">Precio Material</label>    
				<div class="col-sm-8">
					{{MaterialForm.prodTermPrecio}}      
				</div>
			</div> 
			<div style="display:none" id="mostrar">
				<div class="form-group">
					<label for="nombre" class="col-sm-4 control-label">Puesto de Trabajo</label>    
					<div class="col-sm-8">
						{{MaterialForm.pt}}      
					</div>               
				</div>
				<h3 align="center">Composición</h3>
				<div class="col-md-4">
					<p>Tipo de Material</p>
					<select multiple id="tipo-material" class="form-control">
						<option>Todos</option>
						<option value="Basico">Básico</option>
						<option value="Elaborado">Elaborado</option>
					</select>
				</div>
				<div class="col-md-4" >
					<p>Material</p>
					<select multiple id="material" class="form-control">
						{% for m in materiales %}
						{% if m.materialTipo == "Basico" or m.materialSubTipo == "Mezcla" %}
						<option data-tipo="{{m.get_materialTipo_display}}" data-unidad="{{m.materialUnidadMedida}}" value="{{m.id}}">
							{{m.materialNombre}} [{{m.materialUnidadMedida}}]
						</option>
						{% endif %}
						{% endfor %}         
					</select>
				</div>  
				<div class="col-md-4">
					<label for="ejemplo_cantidad_material">Cantidad</label>
					<input class="form-control" id="cantidad" type="number" min="0" value="Cantidad de Material" placeholder="Cantidad de Material">
					<br>
					<a href="#" id="agregar-mat" class="btn btn-default">Agregar Material</a>
				</div> 
				<br>
				<input type="hidden" name="str_materiales" id="str_materiales">
				<div class="row" align="center" style="margin:20px">
					<table class="table table-hover table-bordered " style="width:100%; margin-top:120px; "  >           
						<thead>
							<tr>
								<th>Tipo de Material</th>
								<th>Material</th>
								<th>Cantidad</th>
								<th>Unidad de Medida</th>
							</tr>
						</thead>
						<tbody id="llenar-materiales">
						</tbody>
					</table>  
				</div>
			</div>
			<div class="text-center">
				<a class="btn btn-default" onclick="$('form').submit()" type="submit">Guardar</a>
			</div>

		</form>
	</div>
</div>

{%endblock%}

{%block JS%}
<script type="text/javascript">
	$("#agregar-mat").click(function(e){
		e.preventDefault();
		tipo = $("#tipo-material option:selected").first().html();
		material = $("#material option:selected").first().html();
		material_id = $("#material option:selected").first().val();
		unidad = $("#material option:selected").first().attr("data-unidad");
		tipo = $("#material option:selected").first().attr("data-tipo");
		cantidad = $("#cantidad").val();
		$("#cantidad").val("");
		$("#material option:selected").prop("selected",false);
		if (cantidad ==""){
			alert("Ingrese una cantidad correcta")
		}else{
			if(material != undefined){
				$("#llenar-materiales").append("<tr><td>"+tipo+"</td><td>"+material+"</td><td>"+cantidad+"</td><td>"+unidad+"</td></tr>");
				$("#str_materiales").val($("#str_materiales").val()+material_id+","+cantidad+";")
			}else{
				alert("Seleccione material")
			}
		}

	});
</script>

<script type="text/javascript">
	$("#id_materialTipo").change(function(){
		if ($(this).val()=="Elaborado" ){
			$("#mostrar").slideDown();
			$("#id_materialSubTipo option").each(function(){
				if( $(this).val()=="Mezcla"){
					$(this).show();
				}else{
					$(this).hide();
				}
			});
		}else{
			$("#mostrar").slideUp();
			if ($(this).val()=="Basico" ){
				$("#id_materialSubTipo option").each(function(){
					if( $(this).val()=="Producto Terminado" || $(this).val()=="Mezcla" ){
						$(this).hide();
					}else{
						$(this).show();
					}
				});
			}
		}
	})
</script>

<script type="text/javascript">
	$("#tipo-material").change(function(){
		if( $(this).val() == "Basico" ){
			$("#material option[data-tipo=Básico]").show();
			$("#material option[data-tipo=Elaborado]").hide();
		}else{
			if( $(this).val() == "Elaborado" ){
				$("#material option[data-tipo=Básico]").hide();
				$("#material option[data-tipo=Elaborado]").show();
			}else{
				$("#material option[data-tipo=Básico]").show();
				$("#material option[data-tipo=Elaborado]").show();
			}
		}
	})
</script>

<script type="text/javascript">
	$( document ).ready(function(){
		if ($("#id_materialTipo").val() == 'Elaborado'){
			$("#mostrar").slideDown();
		}
	})

</script>

{%endblock%}