{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
	<div class="row" align="center">
    <a href="#.html" class="btn btn-primary" role="button">Ver Puestos de Trabajo</a>    
    <a href="{% url 'vista_administrador_nuevo_pt' %}" class="btn btn-primary" role="button">Nuevo Puesto de Trabajo</a>
  </div>

  <div class="thumbnail"  style="height:544px; margin:10px" align="center">
    <div style="height:100%;overflow-y: scroll;">
      <h2>Ver Puestos de Trabajo</h2>
      <table class="table table-hover table-bordered " style="width:100%;" >           
        <thead>
          <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Maquinas</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for pt in pts %}
          <tr>
            <td>{{ forloop.counter }}{# starting index 1 #}</td>
            <td>{{pt.ptNombre}}</td>
            <td>
              {% for m in pt.maquinarias %}
                {{m.maqNombre}}<br>
              {% endfor %}
            </td>
            <td class="col-sm-4">
              <a class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Editar PT" href="{% url 'vista_administrador_editar_pt' pt.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="btn btn-danger" onclick="return confirm('Se elimininará el puesto de trabajo.')" data-toggle="tooltip" data-placement="bottom" title="Eliminar PT" href="{% url 'vista_administrador_eliminar_pt' pt.id %}"><span class="glyphicon glyphicon-trash"></span></a>
              <a class="btn btn-info" href="{% url 'vista_administrador_notificaciones' pt.id %}">Notificaciones <span class="badge">{{pt.notificaciones}}</span></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>      
    </div>
  </div>

{%endblock%}


{%block JS%}
  
{%endblock%}