{%extends "Sudakaweb/base.html"%}

{%block titulo%}
Sudakaweb
{%endblock%}

{%block contenido%}
<div class="row" align="center">
  <a href="{% url 'vista_administrador_ver_productos' %}" class="btn btn-primary" role="button">Ver Stock</a>
  <a href="{% url 'vista_administrador_editar_producto' %}" class="btn btn-primary" role="button">Editar Producto</a>
  <a href="#.html" class="btn btn-primary" role="button">Nuevo Producto</a>
</div>

<div class="thumbnail"  style="height:544px; margin:10px" >
  <div style="height:100%;overflow-y: scroll;">
    <h2 align="center">Nuevo Producto</h2>
    <form role="form" style="margin:20px;">
      <div class="form-group">
        <label for="ejemplo_nombre_material">Nombre Producto</label>
        <input type="text" class="form-control" id="ejemplo_nombre_material" required="required" placeholder="Intorduce el nombre del material">
      </div>
      <div class="form-group">
        <label for="ejemplo_cantidad_material">Stock (botellas)</label>
        <input class="form-control" id="cantidad" type="number" min="0" required="required" value="Cantidad de Material" placeholder="Cantidad de Producto">
      </div>
      <div class="form-group">
        <label for="ejemplo_cantidad_material">Stock minimo</label>
        <input class="form-control" id="cantidad" type="number" min="0" required="required" value="Cantidad de Material" placeholder="Cantidad de Producto">
      </div>
      <h3 align="center">Composición</h3>
      <table class="table">
        <thead>
        <tr>
          <th>Etapa</th>
          <th>Puesto de Trabajo</th>
          <th>Material de salida</th>
          <th>Materiales de entrada</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>Etapa 1</td>
            <td>Puesto de trabajo 1</td>
            <td>Elaborado 1</td>
            <td>Agua 2Lt<br>Mezcla 2 500gr</td>
            <td></td>
          </tr>
          <tr>
            <td>Etapa 2</td>
            <td>Puesto de trabajo 1</td>
            <td>Elaborado 1</td>
            <td>Agua 2Lt<br>Mezcla 2 500gr</td>
            <td></td>
          </tr>

        </tbody>

      </table>
      <div class="text-center">
      <button class="btn btn-default">Guardar Producto</button>
      </div>
    </form>
      <hr>
      <h4>Agregar Etapa: 1</h4>
      <form role="form" style="margin:20px;">
        <input class="form-control" id="cantidad" type="hidden" min="0" value="Etapa 1">
        <div class="row" align="center">
          <p>Material Resultante</p>
          <div style="margin:10px">
            <select class="form-control">
              <option>Agua (Puesto 1)</option>
              <option>Malta 2% concentracion (Puesto 2)</option>
              <option></option>
              <option>Puesto4 (Malta 1)</option>
              <option>Puesto5</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <p>Tipo de Material</p>
          <select multiple class="form-control">
            <option>Tipo1</option>
            <option>Tipo2</option>
            <option>Tipo3</option>
            <option>Tipo4</option>
            <option>Tipo5</option>
          </select>
        </div>
        <div class="col-md-4" >
          <p>Material</p>
          <select multiple class="form-control">
            <option>Nombre1</option>
            <option>Nombre2</option>
            <option>Nombre3</option>
            <option>Nombre4</option>
            <option>Nombre5</option>
            <option>6Nombre</option>          
          </select>
        </div>  
        <div class="col-md-4">
          <label for="ejemplo_cantidad_material">Cantidad</label>
          <input class="form-control" id="cantidad" type="number" min="0" value="Cantidad de Material" placeholder="Cantidad de Material" required="required">
          <br>
          <a href="#" class="btn btn-default">Agregar Material</a>
        </div> 
        <br>
        <div class="row" align="center" style="">
          <table class="table table-hover table-bordered " style="width:100%; margin-top:120px; "  >           
            <thead>
              <tr>
                <th>Tipo de Material</th>
                <th>Material</th>
                <th>Cantidad</th>
                <th>Unidad de Medida</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Básico</td>
                <td>Botella</td>
                <td>1</td>
                <td>unidad</td>
              </tr>
              <tr>
                <td>Básico2</td>
                <td>Botella2</td>
                <td>12</td>
                <td>unidad2</td>
              </tr>
            </tbody>
          </table>  
        </div>

        <div class="row" align="center">
          <button type="submit" class="btn btn-default">Agregar Etapa</button>
        </div>
      </form>
    </div>
  </div>


  {%endblock%}


  {%block JS%}

  {%endblock%}