<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device width, initial -scale=1">
	<link href="/static/css/jquery.ambiance.css" rel="stylesheet" type="text/css" media="screen"/>
	<link href="/static/css/bootstrap.css" rel="stylesheet">
	{%block importar%}{%endblock%}
	

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>{%block titulo%}{%endblock%}</title>
	<!---->
</head>
<body>
	<div class="container-fluid">

		<div class="row" style="background:rgba(255, 255, 255, 0.8); padding:5px; border-radius: 0 0 7px 7px; margin-top:-8px">
			<div class="col-md-1"> <!-- Barra de navegación -->
				<img src="/static/img/logo.png" class="img-responsive">
			</div>
			<div class="col-md-8"> <!-- Barra de navegación -->
				<ul class="nav nav-pills">
					<li><a href="#">Inicio</a></li>
					<li><a href="NosotrosCliente.html">Nosotros</a></li>
					<li><a href="CatalogoCliente.html">Catálogo</a></li>
					<li><a href="ContactoCliente.html">Contacto</a></li>
				</ul>
			</div>

			<div class="col-md-3"> <!-- Barra de navegación -->
				<p class="navbar-text pull-right">
					Bienvenido <a href="AdministradorMenuInterno.html" class="navbar-link">Nombre Apellido</a> /<a href="index.html" class="navbar-link">Cerrar Sesión</a>
				</p>
			</div>

		</div>



		<div class="row" style="margin:20px">
			<div class="col-md-12">
				<div class="row" style="min-height:520px;background:rgba(255, 255, 255, 0.8); padding:10px; border-radius: 7px; margin:20px">
					<div class="col-md-3">
						{% if not 1 %}
						{% include "Sudakaweb/menus/menu_base.html" %}
						{% else %}
						{% include "Sudakaweb/menus/menu_admin.html" %}
						{% endif %}
					</div>
					<div class="col-md-9">
					{%block contenido%}{%endblock%}
						
					</div>
				</div>
			</div>


			


		</div>

	</div>
</body>
<footer>
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.ambiance.js"></script>
	{%block JS%}
	{%endblock%}
	<script type="text/javascript">
		{% if messages %}
		$(document).ready(function(){
			{% for message in messages %}
			$.ambiance({message: "{{message}}", 
				{% ifequal message.tags "info" %}title:"Informacion",{% endifequal %}
				{% ifequal message.tags "warning" %}title:"Advertencia",{% endifequal %}
				{% ifequal message.tags "error" %}title:"Error",{% endifequal %}
				{% ifequal message.tags "success" %}title:"Aviso",{% endifequal %}

				type: "{{message.tags}}",
				timeout:6,
				width:400,
			});
			{% endfor %}
		});
		{% endif %}
	</script>
</footer>
</html>
