{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
  <div class="row" align="center">
    <a href="{% url 'vista_cliente_ver_sc' %}" class="btn btn-primary" role="button">Ver Solicitudes de Compra</a>
    <a href="{% url 'vista_cliente_nueva_sc' %}" class="btn btn-primary" role="button">Nueva Solicitud de Compra</a>
  </div>

  <div class="thumbnail"  style="height:430px; margin:10px" >
    <h2 align="center">Editar Solicitud de Compra</h2>
    <div style="margin:10px">
      <select class="form-control">
        <option>SC1</option>
        <option>SC2</option>
      </select>
    </div>
    <div class="row" align="center">
      <a href="#.html" class="btn btn-primary" role="button">Buscar</a>
    </div>
  </div>

{%endblock%}


{%block JS%}
  
{%endblock%}