{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
	<div class="row" align="center">
    <a href="#.html" class="btn btn-primary" role="button">Ver Solicitudes de Compra</a>
    <a href="{% url 'vista_administrador_nueva_sc' %}" class="btn btn-primary" role="button">Nueva Solicitud de Compra</a>
  </div>

  <div class="thumbnail"  style="height:544px; margin:10px" align="center">
    <div style="height:100%;overflow-y: scroll;">
      <h2>Ver Solicitudes de Compra</h2>
      <table class="table table-hover table-bordered " style="width:100%;" >           
        <thead>
          <tr>
            <th>N°</th>
            <th>Fecha Solicitud</th>
            <th>Nombre---> Deberia ir "Productos"</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          {% for sc in scs %} 
            <td>{{sc.id}}</td>
            <td>{{sc.solicitudFecha}}</td>
            <td>{{sc.usuario}}</td>
            <td>{{sc.estadoSolicitud}}</td>
            <td>
              <a class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Editar SC"  href="{% url 'vista_cliente_editar_sc' sc.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
              <a class="btn btn-danger" onclick="return confirm('Se elimininará esta solicitud de compra.')" data-toggle="tooltip" data-placement="bottom" title="Cancelar SC" href="{% url 'vista_cliente_eliminar_sc' sc.id %}"><span class="glyphicon glyphicon-remove"></span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>      
    </div>
  </div>


{%endblock%}


{%block JS%}
  
{%endblock%}