{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
	<div class="row" align="center">
    <a href="#.html" class="btn btn-primary" role="button">Ver Puestos de Trabajo</a>    
  </div>

  <div class="thumbnail"  style="height:544px; margin:10px" align="center">
    <div style="height:100%;overflow-y: scroll;">
      <h2>Ver Puestos de Trabajo</h2>
      <table class="table table-hover table-bordered " style="width:100%;" >           
        <thead>
          <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Maquinas</th>
          </tr>
        </thead>
        <tbody>
          {% for pt in pts %}
          <tr>
            <td>{{pt.id}}</td>
            <td>{{pt.ptNombre}}</td>
            <td>
              {% for m in pt.maquinarias %}
                {{m.maqNombre}}<br>
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>      
    </div>
  </div>

{%endblock%}


{%block JS%}
  
{%endblock%}