{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
	<div class="row" align="center">
    <a href="#.html" class="btn btn-primary" role="button">Ver Órdenes de Trabajo</a>
  </div>

  <div class="thumbnail"  style="height:544px; margin:10px" align="center">
    <div style="height:100%;overflow-y: scroll;">
      <h2>Ver Órdenes de Trabajo</h2>
      <table class="table table-hover table-bordered " style="width:100%;" >           
        <thead>
          <tr>
            <th>N° OT</th>
            <th>N° OF</th>
            <th>Puesto de Trabajo</th>
            <th>Fecha Inicio</th>
            <th>Fecha Término</th>
            <th>Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for ot in ots %} <!-- maquinaria es le nombre del iterador, m el de la variable definida en amarillo en el views -->
          <tr>
            <td>{{ot.id}}</td>
            <td>{{ot.of}}</td>
            <td>{{ot.pt}}</td>
            <td>{{ot.otFechaInicio}}</td>
            <td>{{ot.otFechaTermino}}</td>
            <td>{{ot.otFinalizacion}}</td>
            <td>
              <a class="btn btn-warning" data-toggle="tooltip" data-placement="bottom" title="Editar OT" href="{% url 'vista_operario_editar_ot' ot.id %}"><span class="glyphicon glyphicon-pencil"></span></a> 
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>      
    </div>
  </div>


{%endblock%}


{%block JS%}
  
{%endblock%}