{%extends "Sudakaweb/base.html"%}

{%block titulo%}
  Sudakaweb
{%endblock%}

{%block contenido%}
	<div class="row" align="center">
    <a href="#.html" class="btn btn-primary" role="button">Ver Stock</a>
    <a href="{% url 'vista_operario_ingresar_material' %}" class="btn btn-primary" role="button">Ingresar Material</a> 
  </div>

  <div class="thumbnail"  style="height:544px; margin:10px">
    <div style="height:100%;overflow-y: scroll;">
    <h2 align="center">Ver Stock</h2>
     <table class="table table-hover table-bordered " style="width:100%;" >           
        <thead>
          <tr>
            <th>N°</th>
            <th>Tipo de Material</th>
            <th>Nombre</th>
            <th>Stock</th>
            <th>Stock <br>Mínimo</th>
            <th>Unidad de Medida</th>
          </tr>
        </thead>
        <tbody>
          {% for material in materiales %} <!-- maquinaria es le nombre del iterador, m el de la variable definida en amarillo en el views -->
          <tr>
            <td>{{ forloop.counter }}{# starting index 1 #}</td>
            <td>{{material.materialTipo}}</td>
            <td>{{material.materialNombre}}</td>
            <td>{{material.materialStock}}</td>
            <td>{{material.materialStockMinimo}}</td>
            <td>{{material.materialUnidadMedida}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>

  </div>

{%endblock%}


{%block JS%}
  
{%endblock%}