<!DOCTYPE html>
<html lang="es">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="utf-8">
	<title>Cerveza Sudaka</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css"/>
</head>
<body>
<div class="container-fluid">

	<div class="row" style="background:rgba(255, 255, 255, 0.8); padding:5px; border-radius: 0 0 7px 7px; margin-top:-8px">
		<div class="col-md-1"> <!-- Barra de navegación -->
			<img src="imagenes/logo.png" class="img-responsive">
		</div>
		<div class="col-md-8"> <!-- Barra de navegación -->
			<ul class="nav nav-pills">
			  <li><a href="index.html">Inicio</a></li>
			  <li><a href="Nosotros.html">Nosotros</a></li>
			  <li><a href="Catalogo.html">Catálogo</a></li>
			  <li><a href="Contacto.html">Contacto</a></li>
			</ul>
		</div>

		<div class="col-md-3"> <!-- Barra de navegación -->
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Iniciar Sesión</button>

			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h4>
			      </div>
			      <div class="modal-body">
			        <form>
				    	<div class="form-group">
				    		<label for="ejemplo_usuario_1">Usuario</label>
				    		<input type="text" class="form-control" id="ejemplo_usuario_1" placeholder="Intorduce tu usuario. Ej: 11.111.111-1">
				    	</div>

				    	<div class="form-group">
				    		<label for="ejemplo_password_1">Contraseña</label>
				    		<input type="password" class="form-control" id="ejemplo_password_1" placeholder="Introduce una contraseña">
				    	</div>
			        </form>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary">Send message</button>
			      </div>
			    </div>
			  </div>
			</div>
			<a href="RegistroCliente.html" class="btn btn-primary" role="button">Registrarme</a>
		</div>

	</div>

	<div class="row" style="background:rgba(255, 255, 255, 0.8); padding:5px; border-radius: 7px; margin:20px">
		<div>
			<div class="row" style="margin:10px; margin-top:30px">
				<div class="thumbnail"  style="height:700px; margin:20px;">
					<div class="col-sm-6 col-md-12">

						<form role="form" style="margin:20px;">
					    	<div class="form-group">
					    		<label for="ejemplo_nombre_1">Nombre</label>
					    		<input type="text" class="form-control" id="ejemplo_nombre_1" placeholder="Intorduce tu nombre" required="required">
					    	</div>

					    	<div class="form-group">
					    		<label for="ejemplo_apellido_1">Apellido Paterno</label>
					    		<input type="text" class="form-control" id="ejemplo_apellido_1" placeholder="Intorduce tu apellido paterno" required="required">
					    	</div>

					    	<div class="form-group">
					    		<label for="ejemplo_apellido_2">Apellido Materno</label>
					    		<input type="text" class="form-control" id="ejemplo_apellido_2" placeholder="Intorduce tu apellido materno" required="required">
					    	</div>

					    	<div class="form-group">
					    		<label for="ejemplo_fecha_nacimiento_1">Fecha de Nacimiento</label>
					    		<input type="date" class="form-control" id="fecha_nacimiento_1" placeholder="Intorduce tu fecha de nacimiento" required="required">
					    	</div>

							<div class="form-group">
								<label for="ejemplo_email_1">Email</label>
								<input type="email" class="form-control" id="ejemplo_email_1" placeholder="Introduce tu email" required="required">
							</div>

							<div class="form-group">
								<label for="ejemplo_telefono_1">Teléfono</label>
								<input type="tel" class="form-control" id="ejemplo_telefono_1" placeholder="Introduce tu número de teléfono" required="required">
							</div>


					    	<div class="form-group">
					    		<label for="ejemplo_password_1">Contraseña</label>
					    		<input type="password" class="form-control" id="ejemplo_password_1" placeholder="Introduce una contraseña" required="required">
					    	</div>

					    	<div class="form-group">
					    		<label for="ejemplo_password_1">Repite tu contraseña</label>
					    		<input type="password" class="form-control" id="ejemplo_password_1" placeholder="Repite tu contraseña" required="required">
					    	</div>

							<p class="text-center">
								<button type="submit" class="btn btn-default">Regitrarme</button>
							</p>
						</form>
			    	</div>


			    </div>      
			</div>
		</div>

	</div>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script>
	$('.dropdown-toggle').dropdown();
</script>

</body>

</html>