<!DOCTYPE html>
<html lang="es">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="utf-8">
	<title>Cerveza Sudaka</title>
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css"/>
</head>
<body>
<div class="container-fluid">

	<div class="row" style="background:rgba(255, 255, 255, 0.8); padding:5px; border-radius: 0 0 7px 7px; margin-top:-8px">
		<div class="col-md-1"> <!-- Barra de navegación -->
			<img src="imagenes/logo.png" class="img-responsive">
		</div>
		<div class="col-md-8"> <!-- Barra de navegación -->
			<ul class="nav nav-pills">
			  <li><a href="ClienteIndex.html">Inicio</a></li>
			  <li><a href="ClienteNosotros.html">Nosotros</a></li>
			  <li class="active"><a href="#">Catálogo</a></li>
			  <li><a href="ClienteContacto.html">Contacto</a></li>
			</ul>
		</div>

		<div class="col-md-3"> <!-- Barra de navegación -->
			<p class="navbar-text pull-right">
			  Bienvenido <a href="ClienteMenuInterno.html" class="navbar-link">Nombre Apellido</a> /<a href="index.html" class="navbar-link">Cerrar Sesión</a>
			</p>
		</div>

	</div>
	
	<div class="row" style="background:rgba(255, 255, 255, 0.8); padding:5px; border-radius: 7px; margin:20px">
		<div>
			<div class="row" style="margin:10px; margin-top:30px">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail"  style="height:400px;">
						<img src="imagenes/botella1.jpg" class="img-responsive">
						<div class="caption">
							<h3>Cerveza 1</h3>
							<p>Descripción de la cerveza1. Descripción de la cerveza1. Descripción de la cerveza1. Descripción de la cerveza1. Descripción de la cerveza1. Descripción de la cerveza1. Descripción de la cerveza1. Descripción de la cerveza1.  </p>
							<p class="text-center">
								<a href="#" class="btn btn-primary" role="button">Botón</a>
				        	</p>
			      		</div>
			    	</div>
				</div>

			    <div class="col-sm-6 col-md-4">
			    	<div class="thumbnail" style="height:400px;">
			    		<img src="imagenes/botella1.jpg" class="img-responsive">
			    		<div class="caption">
			    			<h3>Cerveza2</h3>
			    			<p>PArrafo. PArrafo. PArrafo. PArrafo. PArrafo. PArrafo. PArrafo. PArrafo. PArrafo. PArrafo. </p>
			    			<p class="text-center">
			    				<a href="#" class="btn btn-primary" role="button">Botón</a>
			    			</p>
			    		</div>
					</div>
				</div>

			    <div class="col-sm-6 col-md-4">
			    	<div class="thumbnail" style="height:400px;">
			    		<img src="imagenes/botella1.jpg" class="img-responsive">
			    		<div class="caption">
			    			<h3>Cerveza2</h3>
			    			<p>PArrafo. PArrafo. PArrafo. PArrafo. PArrafo. PArrafo. PArrafo. PArrafo. PArrafo. PArrafo. </p>
			    			<p class="text-center">
			    				<a href="#" class="btn btn-primary" role="button">Botón</a>
			    			</p>
			    		</div>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.js"></script>
<script>
	$('.dropdown-toggle').dropdown();
</script>

</body>

</html>