<ul class="nav  nav-pills nav-stacked" style="margin-top:44px">
	<li><a href="{% url 'vista_administrador_ver_materiales' %}">Materiales</a></li>
	<li><a href="{% url 'vista_administrador_ver_productos' %}">Productos</a></li>
	<li><a href="{% url 'vista_administrador_ver_clientes' %}">Usuarios</a></li>
	<li><a href="{% url 'vista_administrador_ver_pt' %}">Puestos de Trabajo</a></li>
	<li><a href="{% url 'vista_administrador_ver_maquinarias' %}">Maquinarias</a></li>
	<li><a href="{% url 'vista_administrador_ver_sc' %}">Solicitudes de Compra</a></li>
	<li><a href="{% url 'vista_administrador_ver_of' %}">Órdenes de Fabricación</a></li>
	<li><a href="{% url 'vista_administrador_ver_ot' %}">Órdenes de Trabajo</a></li>
	<li><a href="{% url 'vista_administrador_ver_od' %}">Órdenes de Despacho</a></li>
	<li><a href="{% url 'vista_administrador_ver_oc' %}">Órdenes de Compra</a></li>
	<li><a href="{% url 'vista_administrador_ver_proveedores' %}">Proveedores</a></li>	
</ul>
